form {
    background: #3a7bd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5px;
    width: 300px;
    border-radius: 5px;
}
h1{
    margin: 10px;
}
header{
    border-bottom: black 1px solid;
    background: #728cb1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #42728a, #4e86d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
}
input{ 
    margin: 5px;
    width: 200px;
}
li{
    list-style: none;
}
nav > a:after {
    content: " | "
} 

.user-card{
    background: #3a7bd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: fit-content;
    min-width: 300px;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px lightgrey;
}
.user-card > .email {
    position: relative;
    left: 15px;
}
.user-card > h2 {
    margin: 5px;
}
.user-card > .name {
    text-decoration: underline;
}
.user-card > .id {
    position: relative;
    left: 15px;
}
.user-card > .phone {
    position: relative;
    left: 15px;
}


