<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Edit User</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./main.css">
  <link rel="import" href="./nav-bar.html">
</head>
<body>
  <header>
    <nav>
      <nav-bar></nav-bar>
    </nav>
  </header>
  <h1>Edit User:</h1>
  <form class="user-card">
    <label>Name:
    <input type="text" placeholder="">
    </label>
    <label>Phone:
    <input type="text" placeholder="">
    </label>
    <button>Submit</button>
  </form>
</body>
</html>
